doctype html
html
    head
        meta(http-equiv="x-ua-compatible" content="IE=Edge")
        block title
            title= title
        link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
        link(rel='stylesheet', href=assetFingerprint('/css/common.css'))
        block headStyleSheets
    body(class=(htmlBodyClass ? (htmlBodyClass.join ? htmlBodyClass.join(' ') : htmlBodyClass) : null))
        block content
        script(src=('/libs/jquery-1.11.2/jquery.min.js') type='text/javascript')
        script(src=assetFingerprint('/js/common.js') type='text/javascript')
        block bodyBottom